body {
    font-family: 'Arvo', serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

/*Header stuff here*/
header{
    background-color: #DABFDE;
    padding: 1rem 2vw;
}
header h1 {
    margin: 0;
    color: #000000;
}
header p {
    margin: 0;
    color: #000000;
    letter-spacing: .5px;
}

/*nav stuff goes here*/
nav {
    background-color: #A7C7E7; 
}
nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #000000;
    font-weight:700;
    display: block;
    padding: .85rem 1rem;
}
nav li.working a {
    background-color: #000000;
    color: #A7C7E7;
}
nav a:hover{
    color: #000000;
}


/*stuff for the main*/
main{
    padding: 1rem 2vw;
}
main h1 {
    background-color: #DABFDE;
    color: #000000;
    font-weight: 700;
    font-size: 2rem;
}
main h2 {
    background-color: #DABFDE;
    color: #000000;
    margin-bottom: .2rem;
    font-weight:400;
}
main p {
    color: #000000;
    margin: 0 0 2rem 0;
}
main ol{
    padding: .5rem 3vw;
    background-color: #ffffff;
    list-style-type: circle;
}
main dl dt {
    color: #551A8B;
    font-weight: 700;
}
main dl dd{
    color: #000000;
     font-size: .9rem;
}

main ul{
    list-style-type: square;
}
main ul li{
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}


main address {
    font-style: normal;
    background-color: #A7C7E7; 
    padding: .5rem;
    width: 12.5rem ;
    border: .5px solid #000000;
    border-radius: 1rem;
}
main a{
    color: #0000FF;
}
main a:hover {
    color: rgb(39,39,39);
}

figure.notes {
    width: 21%;
    margin: 0 0 0 2%;
    float: right; 
    border: 10px solid #ffffff;
    background-color: #ffffff;
    
}
figure.notes img {
    width: 100%;
    height: auto;
}
figure.notes figcaption{
    text-align: center;
    font-size: .75rem;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.gallery figure {
    margin: 1rem 1% 0 0;
}
div.gallery figcaption{
    text-align: center;
    font-size: .8rem;
    color: #000000;
    padding: .3rem 0;
    background-color: #A7C7E7;
}
div.gallery img{
    display: block;
}

.fun fieldset {
    border:1px solid #A7C7E7;
    border-radius: 3px;
    margin-bottom: 1rem;   
}
.fun legend {
    color: #000000;
    font-size: .8rem;
    background-color: #A7C7E7;
    padding: 0.5rem;
}
.fun label {
    margin: .5rem;
}
.fun label, .fun select, .fun [type=text], .fun [type=email], .fun [type=tel], .fun textarea {
    display: block;
}

.fun [type=text], .fun [type=email], .fun [type=tel], .fun select, .fun textarea {
    border: solid 1px #000000;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Arvo', serif;
    font-weight: 400;
} 
.fun textarea {
    height: 6rem;
}

.fun :required {
    background-color: rgba(156,51,53,0.1);
}

.fun [type=submit] {
    background-color: #A7C7E7;
    border: solid 1px #000000;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: #000000;
    margin: 1rem 0 0 1vw;
}













/*footer stuff here*/
footer {
    background-color: #DABFDE;
    text-align: center;
    color: #000000;
    padding: 1rem 0;
    font-size: .8rem;
}
footer a{
    color: #0000FF;
}




